UTCClient/Connected Services/TruckServiceReference/TruckService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TruckService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49766/TruckService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49766/TruckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49766/TruckService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UTCService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITruckService_GetTrucks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrucks" />
  </wsdl:message>
  <wsdl:message name="ITruckService_GetTrucks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrucksResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_AddTruck_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTruck" />
  </wsdl:message>
  <wsdl:message name="ITruckService_AddTruck_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTruckResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_UpdateTruck_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTruck" />
  </wsdl:message>
  <wsdl:message name="ITruckService_UpdateTruck_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTruckResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_DeleteTruck_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTruck" />
  </wsdl:message>
  <wsdl:message name="ITruckService_DeleteTruck_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTruckResponse" />
  </wsdl:message>
  <wsdl:portType name="ITruckService">
    <wsdl:operation name="GetTrucks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/GetTrucks" message="tns:ITruckService_GetTrucks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/GetTrucksResponse" message="tns:ITruckService_GetTrucks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTruck">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/AddTruck" message="tns:ITruckService_AddTruck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/AddTruckResponse" message="tns:ITruckService_AddTruck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTruck">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/UpdateTruck" message="tns:ITruckService_UpdateTruck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/UpdateTruckResponse" message="tns:ITruckService_UpdateTruck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTruck">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/DeleteTruck" message="tns:ITruckService_DeleteTruck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/DeleteTruckResponse" message="tns:ITruckService_DeleteTruck_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITruckService" type="tns:ITruckService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTrucks">
      <soap:operation soapAction="http://tempuri.org/ITruckService/GetTrucks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTruck">
      <soap:operation soapAction="http://tempuri.org/ITruckService/AddTruck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTruck">
      <soap:operation soapAction="http://tempuri.org/ITruckService/UpdateTruck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTruck">
      <soap:operation soapAction="http://tempuri.org/ITruckService/DeleteTruck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TruckService">
    <wsdl:port name="BasicHttpBinding_ITruckService" binding="tns:BasicHttpBinding_ITruckService">
      <soap:address location="http://localhost:49766/TruckService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>