UTCClient/Connected Services/TruckServiceReference/TruckService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UTCService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UTCService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTruck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Truck" nillable="true" type="tns:Truck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTruck" nillable="true" type="tns:ArrayOfTruck" />
  <xs:complexType name="Truck">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fuel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mileage" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:int" />
      <xs:element minOccurs="0" name="YearOfProduction" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Truck" nillable="true" type="tns:Truck" />
</xs:schema>